 /**** typeography ****/

 * {
  font-family: 'Red Hat Text', sans-serif;
 }

 h4 {
  font-size: 14px;
  
 }

 p {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0px;
 }

/**** components *****/

.cart-btn-content {
  position: relative;
}

.quantity-content {
  display: none;
}


.cart-btn {
  width: 160px;
  padding: 12px;
  font-size: 14px;
  border-radius: 999px;
  border: 1px solid #ad8a85;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #260F08;
  position: absolute;
}

.quantity-btn {
  padding: 12px;
  background-color: #C73B0F;
  width: 138px;
  height: 21px;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.decrease-btn,
.increase-btn {
  padding: 0;
  border-radius: 999px;
  border: none;
  background: transparent;
}

.bi-dash-circle,
.bi-plus-circle {
  font-size: 20px;
  color: #fff;
}

.quantity {
  font-size: 16px;
  color: #fff;
}

.input {
  color: #C73B0F;
  font-size: 24px;
  font-weight: 700;
}

/**** components *****/



/**** body ****/

.container {
  max-width: 375px;
  width: 88%;
  margin: 24px;
}

body {
  margin: 0;
  background-color: #fcf8f6;
}

/**** body ****/





/**** product-card ****/

.item-card {
  width: 100%;
  border-radius: 8px;
}

.item-card .product-image {
  width: 100%;
  border-radius: 8px;
  display: block;
}

/**** product-card ****/



/**** cart section ****/

.cart-section {
  width: 93%;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-top: 32px;
}

.cart-text-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 16px;
  gap: 16px;
}